.logo{
    width: 100px;
    height: 39px;
   }

.navbar-brand{
    padding: 6px 15px;
}

.navbar-default {
    background-color: #B9090B;
    border-color: #B9090B;
}

.list-filme{
    padding-top: 1.5%!important;
}