body{
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 100px;
    height: 39px;
   }

.navbar-brand{
    padding: 6px 15px;
}

.navbar-default {
    background-color: #B9090B;
    border-color: #B9090B;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:#9e1a1a;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.list-filme{
    padding-top: 5%;
    padding-bottom: 1%;
    color: #fff;
}

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #777;
}
/*input.ng-invalid {
    background-color:#d9534f;
    border-color: #d43f3a;
}*/
input.ng-valid {
    background-color:lightgreen;
}


.filme-detalhe{
    padding-top: 8.5%;
    padding-bottom: 5%;
}

.filme-detalhe p{
    color: #fff;
}

footer{
    background-color: #B9090B;
}

footer .row:first-of-type{
    margin-top: 3%;
}

footer p{
    color: #fff;
}

 @media screen and (max-width: 768px) {
   .list-filme {
    padding-top: 15%;
   }
  
   input.form-control{
    margin-bottom: 10px;
   }

   .fa-3x {
    font-size: 2em;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #9e1a1a;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    footer p {
        text-align: center;
    }

    footer a{
        padding-left: 30px;
    }

    footer .lead {
        margin-bottom: 5px;
   }
   button.navbar-toggle {
    margin-right: 35px;
   }
      
} /* ./@media screen and (max-width: 768px)*/

.pad-buttom{
    padding-bottom: 2%;
}
