  <div class="section filme-detalhe">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-primary">{{filme.show_title}}</h1>
          <p class="lead">{{filme.summary}}</p>
          <p>Categoria: {{filme.category}}</p>
          <p>Diretor: {{filme.director}}</p>
          <p>Avaliação: {{filme.rating}}</p>
          <p>Ano: {{filme.release_year}}</p>
          <p>Tempo: {{filme.runtime}}</p>
        </div>
        <div class="col-md-6">
          <img src="{{filme.poster}}" class="img-fluid"> </div>
      </div>
        <button type="button" class="btn btn-primary" ng-click="setFavoritos(filme)">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  Salvar
        </button>
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  Remover
        </button>
    </div>
  </div>