<!--<div class="row">-->
<div class="row list-filme">
    <div class="container">
        <form name="formbusca" ng-submit="submitForm(formbusca.$valid)" class="navbar-form navbar-left" role="search" novalidate>
            <div class="form-group">
                <input type="text" name="nome" class="form-control" placeholder="Search" ng-model="query.nome" ng-required="true" ng-minlength="4">
            </div>
            <!--<p ng-show="formbusca.query.$invalid && !formbusca.query.$pristine" class="help-block">Nome obrigatório</p>
                <p ng-show="formbusca.query.$error.minlength" class="help-block">Username no mínimo 3 caracteres.</p>-->
            <div class="form-group ng-valid ng-invalid ng-pristine ng-dirty">
                <div class="col-sm-10">
                    <select name="categoria" class="form-control" required="required" ng-model="query.categoria" ng-required="true">
                            <option value="director">Diretor</option>
                            <option value="actor">Ator</option>
                            <option value="title">Titulo</option>
                        </select>
                </div>
            </div>
            <button type="submit" ng-disabled="formbusca.$invalid" class="btn btn-default">Buscar</button>
        </form>
    </div>
</div>

<div class="row list-filme-bg">
    <div class="container">
        <div class="page-header">
            <h1><small>Filmes: </small></h1>
        </div>
        <div class="col-sm-6 col-md-2" ng-repeat="filme in filmes">
            <div class="thumbnail">
                <a ng-href="#/list/{{filme.show_id}}">
                <img src="{{filme.poster}}" alt="..." style="height: 250px; width: 100%; display: block;">
                </a>
            </div>
        </div>
    </div>
</div>
</div>